.navbar {
    background-color: #111;
    padding: 1rem;
}

.navList {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navList a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navList a:hover {
    color: #00bfff;
}